#modal-overlay {
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: #101316aa;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block/none; */
}

#modal-overlay .modal-wrapper {
  display: flex;
  flex-direction: column;
}

#modal-overlay .modal-close-btn {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 0.6rem;
}

.modal-card {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}
