{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "/css/index.css" %}}" /> <link
    rel="stylesheet" href="{% static "/css/global.css" %}}" /> <link
    rel="stylesheet" href="{% static "/css/modals.css" %}}" /> {% comment %}
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/modals.css" />
    {% endcomment %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
    <title>Electro</title>
  </head>
  <body>
    <div class="home-page">
      <section class="main-top-section">
        <div class="main-top-section-child"></div>
        <img class="mask-group-icon" alt="" src="../public/mask-group.svg" />
        <!--   ...................... START HEADER ............................ -->
        <header class="header">
          <form class="main-frame">
            <div class="logo-search-container">
              <div class="logo-container">
                <img
                  class="logo-text"
                  loading="lazy"
                  alt=""
                  src="../public/logo--text.svg"
                />
              </div>
              <div class="search-container">
                <div class="search">
                  <div class="search-parent">
                    <div class="search-text">All</div>
                    <img
                      class="down-arrow-icon"
                      alt=""
                      src="../public/-icon.svg"
                    />
                  </div>
                </div>
                <div class="search-input-container">
                  <div class="icon-parent">
                    <img
                      class="search-icon"
                      alt=""
                      src="../public/-icon-1.svg"
                    />

                    <input
                      class="search-text"
                      placeholder="Search"
                      type="text"
                    />
                  </div>
                </div>
                <button class="search-button">Search</button>
              </div>
            </div>
            <div class="option-container">
              <div class="category-select">
                <div class="category">
                  <div class="category-icon-div">
                    <img
                      class="hamburger-icon"
                      alt=""
                      src="../public/-icon-2@2x.png"
                    />
                  </div>
                  <div class="category-text">All Categories</div>
                  <div class="category-arrow-icon-div">
                    <img
                      class="category-arrow-icon"
                      alt=""
                      src="../public/-icon.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="right-option-container">
                <div class="options">
                  <div class="home">Home</div>
                  <div class="shop-arrow">
                    <div class="shop">Shop</div>
                    <div class="resizer">
                      <img
                        class="huge-iconarrowsoutlinedirec"
                        alt=""
                        src="../public/hugeiconarrowsoutlinedirectiondown-01.svg"
                      />
                    </div>
                  </div>
                  <div class="about-us">About Us</div>
                  <div class="blog">Blog</div>
                  <div class="contact-us">Contact Us</div>
                </div>
              </div>
            </div>
          </form>
          <div class="top-right-options">
            <div class="header-icons-container">
              <div class="header-icons">
                <img
                  class="huge-iconinterfacesolidsear"
                  alt=""
                  src="../public/-icon-1.svg"
                />

                <img
                  class="huge-iconinterfacesolidsear"
                  alt=""
                  src="../public/hugeiconinterfacesolidsearch-3.svg"
                />

                <div id="cart-icon" class="icon-with-number">
                  <img
                    class="huge-iconinterfacesolidsear"
                    alt=""
                    src="../public/hugeiconinterfacesolidsearch-4.svg"
                  />

                  <div class="cart-number">
                    <div class="cart-container"></div>
                    <b class="number-of-cart">2</b>
                  </div>
                </div>
              </div>
            </div>
            <button id="login-button-mainpage" class="login-button">
              Login
            </button>
          </div>
        </header>
        <!--  ...................... END HEADER ............................ -->
        <!--  ...................... START MAN-IMG ............................ -->
        <div class="poster-container">
          <div class="poster-container-child">
            <div class="poster-left-container">
              <div class="poster-left-container-child">
                <div class="poster-left-text">
                  <h1 class="poster-title">
                    <p class="title-text">Great Sound</p>
                    <p class="title-text">With Solo</p>
                    <p class="title-text">Headphone</p>
                  </h1>
                  <div class="title-paragraph">
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum.
                  </div>
                </div>
                <button class="shop-now-button">
                  <div class="shop-now-button-child">Shop Now</div>
                  <div class="shop-now-icon">
                    <img
                      class="huge-iconarrowsoutlinedirec"
                      alt=""
                      src="../public/hugeiconarrowssolidarrowright.svg"
                    />
                  </div>
                </button>
              </div>
            </div>
            <div class="poster-right-container">
              <div class="poster-right-img-container"></div>
              <img
                class="young-handsome-happy-smiling-m-icon"
                loading="lazy"
                alt=""
                src="../public/younghandsomehappysmilingmandancinglisteningmusicheadphonesisolatedwhitestudiowall-1@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <!--   ...................... END MAN-IMG ............................ -->
      <!--   ...................... START SHOP-BY-CATEGORY ............................ -->
      <section class="shop-by-category-section">
        <div class="shop-by-category-container">
          <div class="shop-by-category-top">
            <div class="shop-by-category-top-left">
              <h2 class="shop-by-category-title">Shop by Categories</h2>
            </div>
            <div class="shop-by-category-top-right">
              <img
                class="shop-by-category-arrow-icon"
                loading="lazy"
                alt=""
                src="../public/button@2x.png"
              />

              <img
                class="shop-by-category-arrow-icon"
                alt=""
                src="../public/button-1@2x.png"
              />
            </div>
          </div>
          <div class="products-categories">
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-9@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Mobile Phones</b>
              </div>
            </div>
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-11@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Smart TV</b>
              </div>
            </div>
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-13@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Smart Watch</b>
              </div>
            </div>
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-10@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Laptops</b>
              </div>
            </div>
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-14@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Drones</b>
              </div>
            </div>
            <div class="categories">
              <div class="categories-inner">
                <div class="category-frame-container">
                  <div class="category-frame"></div>
                  <img
                    class="categories-icon-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-12@2x.png"
                  />
                </div>
              </div>
              <div class="categories-title">
                <b class="categories-bold">Headphones</b>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--   ...................... END SHOP-BY-CATEGORY ............................ -->
      <!--   ...................... START OFF-SECTION ............................ -->
      <section class="off-section">
        <div class="off-products-container">
          <div class="off-product">
            <div class="off-product-child"></div>
            <img
              class="off-product-image"
              alt=""
              src="../public/mask-group-1@2x.png"
            />

            <div class="off-title-container">
              <div class="off-50">50% OFF</div>
              <h2 class="off-title">Mackbook Air M2</h2>
            </div>
            <div class="miss-container">
              <div class="miss-text">Don’t miss the last opportunity</div>
            </div>
            <button class="shop-now-off-button">
              <div class="shop-now-off-text">Shop Now</div>
              <div class="shop-now-off-arrow-icon">
                <img
                  class="huge-iconarrowsoutlinedirec"
                  alt=""
                  src="../public/hugeiconarrowssolidarrowright.svg"
                />
              </div>
            </button>
          </div>
          <div class="off-product">
            <div class="off-product-child"></div>
            <img
              class="off-product-image"
              alt=""
              src="../public/mask-group-2@2x.png"
            />
            <div class="off-title-container">
              <div class="off-50">50% OFF</div>
              <h2 class="off-title">Iphone 14 Pro</h2>
            </div>
            <div class="miss-container">
              <div class="miss-text">Don’t miss the last opportunity</div>
            </div>
            <button id="link-product-page" class="shop-now-off-button">
              <div class="shop-now-off-text">Shop Now</div>
              <div class="shop-now-off-arrow-icon">
                <img
                  class="huge-iconarrowsoutlinedirec"
                  alt=""
                  src="../public/hugeiconarrowssolidarrowright.svg"
                />
              </div>
            </button>
          </div>
        </div>
      </section>
      <!--   ...................... END OFF-SECTION ............................ -->
      <!--   ...................... START BESTSELLER_SECTION ............................ -->
      <section class="bestseller-section">
        <div class="bestseller-container">
          <div class="bestseller-top">
            <h2 class="bestseller-top-title">Our Bestseller Products</h2>
            <div class="bestseller-top-option-container">
              <div class="bestseller-top-option">
                <div class="topseller-option-new-container">
                  <div class="topseller-new">New</div>
                  <div class="topseller-new-underline"></div>
                </div>
                <div class="topseller-featured">Featured</div>
                <div class="topseller-top-rated">Top Rated</div>
              </div>
            </div>
          </div>
          <div class="bestseller-products-container">
            <div class="bestseller-products-left">
              <div class="bestseller-products-left-child"></div>
              <img
                class="mask-group-icon"
                alt=""
                src="../public/mask-group-3@2x.png"
              />

              <h2 class="bestseller-products-left-title">
                <p class="bestseller-products-left-title-child">
                  Apple iPad Pro
                </p>
                <p class="bestseller-products-left-title-child">Wi-Fi</p>
              </h2>
              <div class="bestseller-products-left-title-price">$1520</div>
            </div>
            <div class="bestseller-products-right">
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-19@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Apple iPad Mini 6 Wi-Fi</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$500.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-20@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Microsoft Surface Go</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$399.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-21@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">LG 4K Ultra UHD TV</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$5500.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-18@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Samsung Galaxy S22 Ultra</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$1350.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-22@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Apple iPhone 14 Plus</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$850.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-17@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Bose QuietComfort 45</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$300.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--   ...................... END BESTSELLER_SECTION ............................ -->
      <!--   ...................... START ADV-SECTION ............................ -->
      <section class="advertisement">
        <img
          class="mask-group-icon"
          alt=""
          src="../public/mask-group-4@2x.png"
        />

        <div class="advertisement-taxt-container">
          <h1 class="adv-line-1">Apple iPhone 13 Pro Max</h1>
          <div class="adv-line-2">Don’t miss the last opportunity</div>
        </div>
        <button class="advertisement-button">
          Shop Now
          <div class="advertisement-arrow-icon">
            <img
              class="huge-iconarrowsoutlinedirec"
              alt=""
              src="../public/hugeiconarrowssolidarrowright.svg"
            />
          </div>
        </button>
      </section>
      <!--   ...................... END ADV-SECTION ............................ -->
      <!--   ...................... START TOPSELLER_SECTION ............................ -->
      <section class="bestseller-section">
        <div class="bestseller-container">
          <div class="bestseller-top">
            <h2 class="bestseller-top-title">Top Selling Products</h2>
            <div class="bestseller-top-option-container">
              <div class="bestseller-top-option">
                <div class="topseller-option-new-container">
                  <div class="topseller-new">New</div>
                  <div class="topseller-new-underline"></div>
                </div>
                <div class="topseller-featured">Featured</div>
                <div class="topseller-top-rated">Top Rated</div>
              </div>
            </div>
          </div>
          <div class="bestseller-products-container">
            <div class="bestseller-products-left">
              <div class="bestseller-products-left-child"></div>
              <img
                class="mask-group-icon"
                alt=""
                src="../public/mask-group-5@2x.png"
              />

              <h2 class="bestseller-products-left-title">
                <p class="bestseller-products-left-title-child">
                  Apple iPad Pro
                </p>
                <p class="bestseller-products-left-title-child">Wi-Fi</p>
              </h2>
              <div class="bestseller-products-left-title-price">$1520</div>
            </div>
            <div class="bestseller-products-right">
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-24@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Panasonic Lumix DC-GH5 II</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$1500.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-20@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Asus ROG Delta S</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$250.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-26@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Xiaomi Fimi X8 Mini</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$650.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-27@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Apple iPhone 13</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$500.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-28@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Fossil Gen 6 Smart Watch</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$450.00</div>
                </div>
              </div>
              <div class="bestseller-product-container">
                <div class="bestseller-product-image-container">
                  <img
                    class="bestseller-product-image"
                    loading="lazy"
                    alt=""
                    src="../public/image-29@2x.png"
                  />
                </div>
                <div class="bestseller-product-data-container">
                  <div class="bestseller-product-text">
                    <b class="bestseller-name">Apple iPad Air Wi-Fi</b>
                    <div class="bestseller-stars">
                      <img
                        class="huge-iconinterfacesolidstar"
                        loading="lazy"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />

                      <img
                        class="huge-iconinterfacesolidstar"
                        alt=""
                        src="../public/hugeiconinterfacesolidstar.svg"
                      />
                    </div>
                  </div>
                  <div class="bestseller-product-price">$850.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  .......................... END TOPSELLER_SECTION ...............................  -->
      <!--  .......................... START ADVANTAGE_SECTION ...............................  -->
      <section class="advantage-section">
        <div class="advantage-container">
          <div class="advantage-items">
            <img
              class="huge-iconarrowsoutlinedirec-v2"
              loading="lazy"
              alt=""
              src="../public/hugeiconshipping-and-deliveryoutlinefast-delivery.svg"
            />

            <div class="advantage-items-data">
              <b class="advantage-items-text-line1">Free Shipping</b>
              <div class="advantage-items-text-line2">
                Free shipping for order above $150
              </div>
            </div>
          </div>
          <div class="advantage-items">
            <img
              class="huge-iconarrowsoutlinedirec-v2"
              loading="lazy"
              alt=""
              src="../public/hugeiconshipping-and-deliveryoutlinepackage-box-8.svg"
            />

            <div class="advantage-items-data">
              <b class="advantage-items-text-line1">Money Guarantee</b>
              <div class="advantage-items-text-line2">
                Within 30 days for an exchange
              </div>
            </div>
          </div>
          <div class="advantage-items">
            <img
              class="huge-iconarrowsoutlinedirec-v2"
              loading="lazy"
              alt=""
              src="../public/hugeiconshipping-and-deliveryoutlinepackage-box-9.svg"
            />

            <div class="advantage-items-data">
              <b class="advantage-items-text-line1">Online Support</b>
              <div class="advantage-items-text-line2">
                24 hours a day, 7 days a week
              </div>
            </div>
          </div>
          <div class="advantage-items">
            <img
              class="huge-iconarrowsoutlinedirec-v2"
              loading="lazy"
              alt=""
              src="../public/hugeiconshipping-and-deliveryoutlinepackage-box-10.svg"
            />

            <div class="advantage-items-data">
              <b class="advantage-items-text-line1">Flexible Payment</b>
              <div class="advantage-items-text-line2">
                Pay with multiple credit cards
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  .......................... END ADVANTAGE_SECTION ...............................  -->
      <!--  .......................... START FOOTER ...............................  -->
      <footer class="footer">
        <div class="footer-items">
          <div class="footer-column1">
            <img class="footer-logo" alt="" src="../public/logo--text-1.svg" />

            <div class="footer-column1-items">
              <div class="footer-items">
                <div class="collector">
                  <img
                    class="huge-iconarrowsoutlinedirec"
                    alt=""
                    src="../public/hugeiconcommunicationoutlinecalling.svg"
                  />
                </div>
                <div class="compressor">(316) 555-0116</div>
              </div>
              <div class="footer-items">
                <div class="normalizer">
                  <div class="huge-iconarrowsoutlinedirec">
                    <div class="matcher"></div>
                    <img
                      class="calculator-icon"
                      alt=""
                      src="../public/calculator.svg"
                    />
                  </div>
                </div>
                <div class="electroexamplecom">electro@example.com</div>
              </div>
              <div class="footer-items">
                <img
                  class="huge-iconarrowsoutlinedirec"
                  alt=""
                  src="../public/hugeicondeviceoutlinelocation.svg"
                />

                <div class="parker-rd-allentown-container">
                  <p class="parker-rd-allentown">4140 Parker Rd. Allentown,</p>
                  <p class="new-mexico-31134">New Mexico 31134</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-information-column">
            <b>Information</b>
            <div class="footer-information-items">
              <div class="information-column-items">My Account</div>
              <div class="information-column-items">Login</div>
              <div class="information-column-items">My Cart</div>
              <div class="information-column-items">My Wishlist</div>
              <div class="information-column-items">Checkout</div>
            </div>
          </div>
          <div class="footer-information-column">
            <b>Service</b>
            <div class="footer-information-items">
              <div class="information-column-items">About Us</div>
              <div class="information-column-items">Careers</div>
              <div class="information-column-items">Delivery Information</div>
              <div class="information-column-items">Privacy Policy</div>
              <div class="information-column-items">Terms & Conditions</div>
            </div>
          </div>
          <div class="subscribe">
            <div class="subscribe-top">
              <b class="subscribe-top-title">Subscribe</b>
              <div class="subscribe-top-title">
                Enter your email below to be the first to know about new
                collections.
              </div>
            </div>
            <div class="footer-mail">
              <div class="footer-mail-child">
                <div class="footer-mail-child-left">
                  <div class="huge-iconarrowsoutlinedirec">
                    <div class="controller"></div>
                    <img class="" alt="" src="../public/calculator.svg" />
                  </div>
                  <div class="your-email">Your Email</div>
                </div>
                <img
                  class="huge-iconarrowsoutlinedirec"
                  alt=""
                  src="../public/hugeiconarrowsoutlinearrowright@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="encoder">
          <div class="footer-line"></div>
          <div class="footer-icon-container">
            <div class="payment-methodvisa-parent">
              <img
                class="footer-last-icon"
                loading="lazy"
                alt=""
                src="../public/payment-methodvisa.svg"
              />

              <img
                class="footer-last-icon"
                loading="lazy"
                alt=""
                src="../public/payment-methodmastercard.svg"
              />

              <img
                class="footer-last-icon"
                alt=""
                src="../public/payment-methodgooglepay.svg"
              />

              <img
                class="footer-last-icon"
                alt=""
                src="../public/payment-methodamex.svg"
              />

              <img
                class="footer-last-icon"
                alt=""
                src="../public/payment-methodpaypal.svg"
              />
            </div>
            <div class="electro-all-rights">
              ©2023 Electro All Rights are reserved️
            </div>
            <div class="social-icons">
              <img
                class="huge-iconarrowsoutlinedirec"
                alt=""
                src="../public/hugeiconsocialsolidfacebook.svg"
              />

              <img
                class="huge-iconarrowsoutlinedirec"
                alt=""
                src="../public/hugeiconsocialsolidinstagram@2x.png"
              />

              <img
                class="huge-iconarrowsoutlinedirec"
                alt=""
                src="../public/hugeiconsocialsolidtwitter.svg"
              />
            </div>
          </div>
        </div>
      </footer>
      <!--  .......................... END FOOTER ...............................  -->

      <!-- START MODALS -->
      <div id="modal-overlay__auth" class="modal-overlay">
        <div class="modal-wrapper">
          <div class="modal-close-btn">X</div>
          <div id="modal-login" class="modal-card">
            <div class="login-top">
              <b class="login-title">Welcome 👋 </b>
              <div class="login-title login-title-sec">Please login here</div>
            </div>
            <div class="login-mid">
              <div class="login-mid-top">
                <div class="login-mid-input">
                  <div class="login-input">
                    <div class="login-label">Email Address</div>
                    <div class="login-textbox">
                      <div class="login-text">kristin.watson@example.com</div>
                    </div>
                  </div>
                  <div class="login-input">
                    <div class="login-label">Password</div>
                    <div class="login-textbox">
                      <div class="login-text">••••••••••••••••••</div>
                    </div>
                  </div>
                </div>
                <div class="checkbox-parent">
                  <div class="login-checkbox">
                    <img class="state-icon" alt="" src="../public/state.svg" />

                    <div class="login-checkbox">Remember Me</div>
                  </div>
                  <div id="forget-btn-id" class="login-text">
                    Forgot Password?
                  </div>
                </div>
              </div>
              <div class="login-mid-down">
                <div class="login-btn">Login</div>
                <div id="register-btn" class="login-btn login-btn-light">
                  Register
                </div>
              </div>
            </div>
            <div class="or-login-with-container">
              <div class="or-login-line"></div>
              <div class="or-login-with">Or Login With</div>
              <div class="or-login-line"></div>
            </div>
            <div class="button-group">
              <div class="signin-ways-btn">
                <img class="google-icon" alt="" src="../public/google.svg" />

                <div class="signin-ways-btn2">Login with Google</div>
              </div>
              <div class="signin-ways-btn">
                <img class="apple-icon" alt="" src="../public/apple.svg" />

                <div class="signin-ways-btn2">Login with Apple</div>
              </div>
            </div>
          </div>
          <div id="modal-register" class="modal-card">
            <div class="login-top">
              <b class="login-title">Create New Account</b>
              <div class="login-title2">Please enter details</div>
            </div>
            <div class="login-mid">
              <div class="login-mid-top">
                <div class="login-mid-input">
                  <div class="login-input">
                    <div class="login-label">Name</div>
                    <div class="login-textbox">
                      <div class="login-text">Kristin Watson</div>
                    </div>
                  </div>
                  <div class="login-input">
                    <div class="login-label">Email Address</div>
                    <div class="login-textbox">
                      <div class="login-text">kristin.watson@example.com</div>
                    </div>
                  </div>
                  <div class="login-input">
                    <div class="login-label">Password</div>
                    <div class="login-textbox">
                      <div class="login-text">••••••••••••••••••</div>
                    </div>
                  </div>
                </div>
                <div class="checkbox-wrapper">
                  <div class="login-checkbox">
                    <img class="state-icon" alt="" src="../public/state.svg" />

                    <div class="login-checkbox">
                      I agree to the Terms & Conditions
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-wrapper">
                <div class="login-btn login-btn-white">Register</div>
              </div>
            </div>
            <div class="or-login-with-container">
              <div class="or-login-line"></div>
              <div class="or-login-with">Or Login With</div>
              <div class="or-login-line"></div>
            </div>
            <div class="button-group">
              <div class="signin-ways-btn">
                <img class="google-icon" alt="" src="../public/google.svg" />

                <div class="signin-ways-btn2">Login with Google</div>
              </div>
              <div class="signin-ways-btn">
                <img class="apple-icon" alt="" src="../public/apple.svg" />

                <div class="signin-ways-btn2">Login with Apple</div>
              </div>
            </div>
          </div>
          <div id="modal-otp" class="modal-card">
            <div class="login-top">
              <b class="login-title">Enter OTP</b>
              <div class="login-title login-title-sec">
                We have share a code of your registered email<br />
                address kristin.watson@example.com
              </div>
            </div>
            <div class="otp-inputs-wrapper">
              <div class="otp-input otp-input-active">3</div>
              <div class="otp-input otp-input-active">1</div>
              <div class="otp-input"></div>
              <div class="otp-input"></div>
              <div class="otp-input"></div>
            </div>
            <button id="otp-submit-btn-id" class="otp-submit-btn">
              Send OTP
            </button>
          </div>
          <div id="modal-successful-login" class="modal-card">
            <div class="circle-icon-wrapper">
              <div class="circle-icon">
                <div class="circle-icon">
                  <div class="circle-icon">
                    <img
                      class="huge-iconinterfacesolidsear3"
                      alt=""
                      src="../public/hugeiconinterfacesolidsearch-41.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="login-top">
              <b class="login-title">Password Changed Successfully</b>
              <div class="login-title login-title-sec">
                Your password has been updated successfully
              </div>
            </div>
            <button id="opt-back-btn" class="otp-submit-btn">
              Back to Login
            </button>
          </div>
        </div>
      </div>
      <!-- END MODALS -->

      <div id="modal-overlay__cart" class="modal-overlay">
        <div id="mini-cart-sidebar">
          <div class="item-wrapper">
            <p>
              You have <b><span id="num-items">2</span> items</b> in your cart
            </p>
            <div class="product-item" id="product-item-1">
              <div class="product-item-img-wrapper">
                <img class="side-bar-img" src="../public/image-16@2x.png" />
              </div>
              <div class="product-item-details">
                <p class="product-item-title">Apple iPhone 14 Pro</p>
                <p class="product-item-price"><b>$1999.00</b></p>
                <div class="product-item-last-row">
                  <p class="product-item-quantity">
                    QTY: <span id="iphone-num">1</span>
                  </p>
                  <img
                    class="trash-icon"
                    id="trash-icon-id-1"
                    src="../public/hugeiconinterfaceoutlinetrash.svg"
                  />
                </div>
              </div>
            </div>
            <div class="product-item" id="product-item-2">
              <div class="product-item-img-wrapper">
                <img class="side-bar-img" src="../public/image-25@2x.png" />
              </div>
              <div class="product-item-details">
                <p class="product-item-title">Asus ROG Delta S</p>
                <p class="product-item-price"><b>$250.00</b></p>
                <div class="product-item-last-row">
                  <p class="product-item-quantity">QTY: 1</p>
                  <img
                    class="trash-icon"
                    id="trash-icon-id-2"
                    src="../public/hugeiconinterfaceoutlinetrash.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mini-cart-buttom">
            <div class="sub-total-div">
              <p class="product-item-price"><b>SubTotal</b></p>
              <p class="product-item-price"><b>$2249.00</b></p>
            </div>
            <div class="login-mid-down">
              <div class="login-btn login-btn-light">View Cart</div>
              <div id="checkout-btn-id" class="login-btn">Checkout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/modal.js" type="text/javascript"></script>
  <script src="../js/main.js" type="text/javascript"></script>
</html>
